* {
  border: 2px solid red;
}

button,
.start {
  height: 40px;
  width: 100px;
  background-color: rgb(33, 33, 33);
  color: white;
  border-radius: 10px;
  border: 2px dashed black;
  opacity: 90%;
}
h1 {
  text-align: center;
  color: rgb(3, 62, 3);
  font-size: 38pt;
  font-family: fantasy;
  text-shadow: 2px 2px whitesmoke;
  height: 30px;
  margin-top: 10px;
}

h2 {
  text-align: center;
  background-color: yellowgreen;
  width: 1000px;
  margin: auto;
  background-color: yellowgreen;
  border-radius: 20px;
  border: 2px dotted darkgreen;
}

.monkey {
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url("assets/monkey.png");
  height: 100px;
  width: 100px;
}

body {
  background-image: url("assets/jungle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.instruct {
  height: 50px;
}
.messageArea {
  height: 35px;
  width: 300px;
  margin-left: auto;
  margin-top: 30px;
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20pt;
  text-align: center;
  margin: auto;
  background-color: yellowgreen;
  border-radius: 20px;
  border: 2px dotted darkgreen;
}

.playArea {
  border-radius: 5%;
  background-image: url("assets/jungleGhost.png");
  height: 800px;
  width: 1400px;
  cursor: url("assets/bananna.png"), auto;
  margin: auto;
  overflow: hidden;
  border: 2px dotted darkgreen;
}

div,
.monkey {
  overflow: hidden;
}
